@import url(https://fonts.googleapis.com/css?family=Cinzel);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url("../IMG/galax.jpg") no-repeat center center  fixed;
	background-size: cover;
}