@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	text-align: center;
	line-height: 1.3;
	font-family:'Dosis', sans-serif;
	background-color: #E870AF
}
header{
	float: left;
	width: 100%;
}
nav a {
	font-size: 1.3em;
	color: black; 
	text-transform: uppercase;
	text-decoration:none;
	padding: 20px;
	display: inline-block;
	margin: 0 20px;
}
nav a:hover {
	background-color: white;
	opacity: 0.4; 
}

#splash {
	background: url("../images/heart.jpg") no-repeat center center  fixed;
	background-size: cover;
	height: 90vh;
}
.style2:after {
	visibility: hidden;
	display: block;
	font-size: 0; 
	content: " ";
	clear:both;
	height: 0; 
}
.style2{
	width: 70%;
	margin: 2em .5%;
	padding: 2em;
	background-color: #FF7C7E; 
	margin: 2em auto;
}
.style2 img {
	width:50%;
	height: auto;
	float: left; 
	padding-right: 1em; 
}
.style2 div {
	float: left;
	width: 50%; 
}

#two_columns {
	width: 100%; 
	float: left;
}

footer p, a{
	color: black;
	text-align: center; 
	text-decoration: none;
}
h1 {
	font-family:'Cinzel', sans-serif; 
	font-weight: bold;
	font-size: 5em; 
	padding: 1em; 
}
.up{
	font-family:'Homemade Apple', sans-serif;
	font-size: 2em; 
	font-weight: bold; 
	padding-bottom: .5em; 
}
.title{
	padding-bottom: .6em; 
}
@media only screen and (max-width: 710px) {
	.style2{
		width: 100%; 
	}
	.style2 img{
		width: 100%; 
		height: auto; 
	}
	.style2 div {
		float: none;
		width: 100%; 
	}
	#two_columns{
		padding: 0.5em;
	}
