@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	text-align: center;
	line-height: 1.3;
	font-family:'Dosis', sans-serif;
	background-color: #F07A5C
}
nav a {
	font-size: 1.3em;
	color: white; 
	text-transform: uppercase;
	text-decoration:none;
	padding: 20px;
	display: inline-block;
	margin: 0 20px;
	text-align: center; 
}
nav a:hover {
	background-color: #16CBF0;
	opacity: 0.4; 
}
#splash {
	background: url("../images/fook.jpg") no-repeat center center  fixed;
	background-size: cover;
	height: 90vh;
}
header{
	float: left;
	width: 100%;
}
.style3:after {
	visibility: hidden;
	display: block;
	font-size: 0; 
	content: " ";
	clear:both;
	height: 0; 
}
.style3{
	width: 70%;
	margin: 2em .5%;
	padding: 2em;
	background-color: #83916D; 
	margin: 2em auto;
}
.style3 img {
	width:50%;
	height: auto;
	float: left; 
	padding-right: 1em; 
}
.style3 div {
	float: left;
	width: 50%; 
}

#two_columns {
	width: 100%; 
	float: left;
}
h1{
	font-family:'Cinzel', sans-serif; 
	font-weight: bold;
	font-size: 5em; 
	color: black;
	padding: 1em; 
}
.non {
	font-family: "Homemade Apple"; 
	font-size: 1.9em; 
	color: black; 
}
footer p, a{
	color: black;
	text-align: center; 
	margin: 5px 04;
	text-decoration: none;
}
@media only screen and (max-width: 710px) {
	.style3{
		width: 100%; 
	}
	.style3 img{
		width: 100%; 
		height: auto; 
	}
	.style3 div {
		float: none;
		width: 100%; 
	}
	#two_columns{
		padding: 0.5em;
	}