@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	text-align: center;
	line-height: 1.3;
	font-family:'Dosis', sans-serif;
	background-color: #FFD9C5
	
}
#splash {
	background: url("../images/ocean.jpg") no-repeat center center  fixed;
	background-size: cover;
	height: 90vh;
}
#slogan {
	color: white;
	font-size: 50px;
	font-family:'Homemade Apple', cursive;
	font-weight: bolder; 
	margin: 0;	
	text-align: center; 
}
.desc{
	font-size: 1.5em;
	padding: 10px;
	color: white;
}
.style{
	width: 32.33%;
	margin: 2em .5%;
	float: left;
	padding: 2em;
	background-color: white; 
	min-height: 3em; 
	position: relative; 
}
.style img {
	width:100%;
	height: auto;
}
nav a {
	font-size: 1.3em;
	color: #303233; 
	text-transform: uppercase;
	text-decoration:none;
	padding: 20px;
	display: inline-block;
	margin: 0 20px;
	text-align: center; 

}
nav a:hover {
	background-color: white;
	opacity: 0.4; 
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0; 
	content: " ";
	clear:both;
	height: 0; 
}
p{
	color: #6E7476;
	font-size: 1.2em;
	text-align: left;
}
hr{
	
	margin: 1em auto;
	width: 3em;
	height: 2.5px; 
	background-color: black; 

}
h1{
	color: white;
	font-size: 5em; 
	padding: 20px 40px;
	margin: 30px;
	font-family: 'Cinzel', serif;
}
h2{
	color: black;
	font-family: "Homemade Apple", cursive;
	font-size: 2em;
	margin:1em 0 0;
}
header{
	float: left;
	width: 100%; 
}
footer p, a{
	color: black;
	text-align: center; 
	margin: 5px 04;
	text-decoration: none;
}
.pop {
	display: inline-block;
	background-color: #64A8F5; 
	color: white;
	text-decoration: none; 
	padding: .75em; 
	width: 100%;
	left: 0%; 
	position: absolute;

}
#three_column {
	max-width: 100%; 
}
@media only screen and (max-width: 1000px) {
	nav a {
		margin: 0;
		font-size: 2em; 
		width: 100%;  
	}
	header {
		padding: 0;
		width: 100%; 
	}
	#splash{
		height: auto; 
		padding: 5em 0;
	}

}
@media only screen and (max-width: 710px) {
	.style{
		width: 95%; 
	}
	#three_column{
		padding: 0.5em;
	}
	nav a {
		font-size: 1.25em; 
		margin: 0;
	}
	#splash{
		height: auto; 
		padding: 8em 0;
	}
}


